@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));
@custom-variant coffee (&:where(.coffee, .coffee *));
@custom-variant vishal (&:where(.vishal, .vishal *));

@theme {
  --color-bg: #fffdf1;
  --color-primary: #ffce99;
  --color-secondary: #ff9644;
  --color-suraj: #562f00;
}

@layer theme {
  :root {
    @variant dark {
      --color-bg: #574964;
      --color-primary: #9f8383;
      --color-secondary: #c8aaaa;
      --color-suraj: #ffdab3;
    }

    @variant coffee {
      --color-bg: #b6ae9f;
      --color-primary: #c5c7bc;
      --color-secondary: #deded1;
      --color-suraj: #fbf3d1;
    }

    @variant vishal {
      --color-bg: #0c2c55;
      --color-primary: #296374;
      --color-secondary: #629fad;
      --color-suraj: #ededce;
    }
  }
}
