name: CI/CD Pipeline

on:
  push:
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest
    env:
     DATABASE_URL: ${{ secrets.DATABASE_URL }}


    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install dependency
        run :  npm run install:all 

      - name: Generate Prisma client
        run: | 
         cd backend  
         npx prisma generate 

      - name: build   
        run: npm run build
